<label class="floating-label text-left">
    <span>{{translatedLabel()}}</span>
    <input [type]="type()"
        class="input w-full" 
        [max]="maxDate()"
        [class.input-error]="control.invalid && control.touched"
        [class.input-success]="control.valid && control.touched"
        [formControl]="control" 
        [placeholder]="translatedLabel()"> <!--formControl prende il posto di ngModule e name-->
    @if (control.hasError('required') && control.touched) { <!--controllo se c'è l'errore di required-->
        <div class="validation-hint text-error text-xs">{{translatedLabel()}} is required</div>
    }
    @if (control.hasError('email') && control.touched) { <!--controllo se c'è l'errore di required-->
        <div class="validation-hint text-error text-xs">Invalid email address</div>
    }
    @if (control.hasError('minlength') && control.touched) { <!--controllo se c'è l'errore di required-->
        <div class="validation-hint text-error text-xs">
            {{translatedLabel()}} must be at least 
            {{control.errors?.['minlength'].requiredLength}} characters 
        </div> <!--minlength è un oggetto che contiene due proprietà: requiredLength e actualLength-->
    }
    @if (control.hasError('maxlength') && control.touched) { <!--controllo se c'è l'errore di required-->
        <div class="validation-hint text-error text-xs">
            {{translatedLabel()}} must be at most 
            {{control.errors?.['maxlength'].requiredLength}} characters 
        </div>
    }

    @if (control.hasError('passwordMismatch') && control.touched) { <!--controllo se c'è l'errore di required-->
        <div class="validation-hint text-error text-xs">
            Password do not match 
        </div>
    }
</label>